@font-face {
    font-family: "Sharp Grotesk Medium 20";
    src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.svg#Sharp Grotesk Medium 20") format("svg"); /* iOS 4.1- */
}

.header {
    display: flex;
    align-items: center;
    grid-column: 2/4;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 10px 40px -40px rgba(0, 115, 247, 0.01), 0 6px 5px -5px rgba(0, 115, 247, 0.03);
}

.headerTitle {
    position: relative;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19em;
}

.headerTitleNameApp {
    font-family: "Sharp Grotesk Medium 20", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}

.headerInfo {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
}

.headerInfoBell {
    cursor:pointer;
}

.headerInfoBell:hover {
    fill: #3e3e3e;
}

.headerInfoName {
    font-family: "Graphik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    color: #00244D;
    margin-left: 0.5vw;
}

.ava {
    width: 3em;
    height: 3em;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50%;
    margin-left: 0.5vw;
}

.headerInfo > div > svg {
    margin-left: 0.5vw;
}

.header a svg {
    height: 1.4em;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 909px) {
    .header {
        padding-left: 3%;
    }
    
    .headerInfo {
        right: 3%;
    }
}

@media screen and (max-width: 767px) {
    .ava {
        width: 40.5px;
        height: 40.5px;
    }

    .header {
        height: 3.8em;
    }

    .header a svg {
        height: 1em;
    }

    .headerTitle {
        width: 19em;
    }

    .headerInfo {
    }

    .headerInfoName {
        display: none;
    }

    .headerTitleNameApp {
        font-size: 1.2em;
    }

    .headerTitle svg {
        width: 2.7em;
        height: 2.7em;
    }

    .header .headerInfo svg {
        height: 1.7em;
        width: 1.7em;
    }
}

@media screen and (max-width: 566px) {
    .headerTitle {
        width: 4em;
    }

    .headerTitleNameApp {
        display: none;
    }
}